.calculator {
  padding: 1rem;
  border: 0.5rem solid var(--purple-600);
  border-radius: 2rem;
  box-shadow: 8px 4px 0 0px var(--purple-700),
    12px 6px 16px var(--shadow-color-dark);
  z-index: 1;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  background-color: var(--purple-700);
}

.display {
  display: flex;
  justify-content: end;
  align-items: center;

  font-size: 2.5rem;
  font-family: "Calculator", sans-serif;
  letter-spacing: 1.5px;
  color: var(--purple-700);
  font-weight: 500;

  background-color: var(--white);
  width: 100%;
  height: 80px;
  padding: 0.5rem;
  border-radius: 1rem;
}

.display-on {
  box-shadow: 0px 0px 20px var(--shadow-color-light);
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  padding-top: 1rem;
}

.button {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 2px 1px 0 0px var(--purple-600),
    2px 1px 4px var(--shadow-color-dark);
  transition: 0.1s;

  background-color: var(--purple-500);
  color: var(--purple-100);

  font-size: 1.5rem;
}

.button-on-ce {
  width: 3rem;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.button-long-text {
  font-size: 1.125rem !important;
}

.button-function-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.button-function-container span {
  color: var(--purple-100);
  font-size: 0.875rem;
}

.button-function {
  align-self: center;

  background-color: rgb(255, 83, 83);

  width: 2.5rem;
  height: 1rem;
  border-radius: 1.5rem;
}

.button:hover,
.button-on-ce:hover,
.button-function:hover {
  box-shadow: none;
  background-color: var(--purple-600);
}

.col-span-2 {
  grid-column: span 2;
  border-radius: 1.5rem;
  width: initial;
}
