:root {
  --white: #fff;
  --black: #000;

  --shadow-color-dark: rgba(0, 0, 0, 0.5);
  --shadow-color-light: rgba(255, 255, 255, 0.5);

  --purple-100: #d7caff;
  --purple-300: #612fff;
  --purple-500: #5a31e3;
  --purple-600: #4021ab;
  --purple-700: #2e1e67;
}

@font-face {
  font-family: 'Calculator';
  src: url('../fonts/Calculator.ttf') format('woff2');
      
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: 0px;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/math.png");
  background-position: -80px -180px;
  overflow: hidden;
}

.wrapper::before {
  content: "";
  display: block;
  height: 100vh;
  width: 1000px;
  background-color: red;
  opacity: 0.1;
  transform: translateX(-1000px);
  filter: blur(200px);
  z-index: -1;
  animation: shineAnimation 15s linear infinite;
}

@keyframes shineAnimation {
  to {
    transform: translateX(calc(100vw));
  }
}
